/* see PropPacks for the full list */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("./assets/fonts/OpenSans.woff2") format("woff2");
} */

/* html {
  --page-color: white;
  --ink-color: black;
  --highlight-color: red;
  color-scheme: light;
  accent-color: var(--highlight-color);
}

@media (prefers-color-scheme: dark) {
  html {
    --page-color: black;
    --ink-color: white;
    --highlight-color: pink;
    color-scheme: dark;
    accent-color: pink;
  }

  img {
    filter: brightness(0.8) contrast(1.2);
  }
} */
@font-face {
  font-family: 'Bord';
  src: url('./assets/Bord.ttf');
}

body {
  margin: 0;
  font-family: "OpenSans", sans-serif;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--page-color);
  color: var(--ink-color);
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

body,
#root {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(112.1deg,
      rgb(32, 38, 57) 11.4%,
      rgb(63, 76, 119) 70.2%);
}

article {
  max-inline-size: 66ch;
  line-height: 1.65;
}

blockquote {
  max-inline-size: 45ch;
  line-height: 2;
}

img,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
}

/* input {
  background-color: var(--page-color);
  color: var(--ink-color);
  border-color: var(--ink-color);
} */

/* / */